{% extends 'base.html' %}

{% block title %} Create Group {% endblock %}


{% block head %}
    <style>
    #id_objective , #id_syllabus , #id_text_books, #id_ref_material, #id_prerequisite
    {
          display: block;
          width: 100%;
          line-height: 40px;
          border: none;
          background: #f9f9ff;
          padding: 0 20px;
          height: 100px;
          resize: none;
          outline-color: #d0e4d0;
          outline-style: solid;
          outline-width: 1px;
            }
</style>
{% endblock %}

{% block body %}

    <div style="margin-top: 80px ; padding: 0px 50px; margin-bottom: 80px;">
    <h2 class="text-left" style="margin-left:90px"> Create Group </h2>

    <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }} - {{ field }}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <button type="submit">  Create Group  </button>
    <br><br>
    </form>
        <div class="row mt-1">
                <INPUT TYPE="button"  VALUE="Back"  onClick="history.go(-1);">
        </div>
    </div>


{% endblock %}